body {font-family:"Avenir Text"}
h1   {
    color:#91417f;
    font-size:40px;
    font-family:"serif";
}
p    {
    color:#91417f;
    font-size:20px;
    font-family:"Lucida Grande";
}
li {
    list-style: none;
}
.header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
}
.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px
}

.header-list li {
    float: left;
    padding: 33px 20px;
}

.footer {
    background-color:#ecb9a9;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    padding: 100px 80px;
}

.copy-container h1 {
    font-size: 140px;
}

.copy-container h2 {
    font-size: 60px;
}

.copy-container span {
    color: beige;
}

.contents {
    height: 100px;
    margin-top: 100px;
}

.section-tittle {
    border-bottom: 2px solid #91417f;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item {
    float: left;
    margin-right: 40px;
}

.contents-item p {
    font-size: 24px;
    margin-top: 30px;
}

.contact-form {
    padding-top: 100px;
}
input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #91417f;
}

.contact-submit {
    background-color: bisque;
    color: #91417f;
}