body {background-color: rgba(26, 139, 120, 0.568);}
h1   {
    color:#ff0000;
    font-size:40px;
    font-family:"serif";
}
p    {
    color:#0000ff;
    font-size:20px;
    font-family:"Lucida Grande";
}