body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(120, 0, 200, 0.6),
        rgba(60, 0, 150, 0.6)
    ),
    url("4359076cfbfec56f35969781b2f452e3.jpg");
    background-size: cover;
    background-position: center bottom;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.left {
    color: white;
}

.left h1 {
    font-size: 60px;
    margin: 0;
}

.left p {
    opacity: 0.8;
}

.login-card {
    width: 320px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
}

.login-card button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right, #a100ff, #ff00aa);
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.login-card button:hover {
    opacity: 0.9;
}

.signup-text {
    font-size: 14px;
    margin-top: 15px;
}

.signup-text span {
    color: #ff66ff;
    cursor: pointer;
}

.tugas-btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to right, #a100ff, #ff00aa);
    color: white;
    transition: 0.3s;
}

.tugas-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}